!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h2 #{@user.email}様
    %p この度はWineportをご利用いただきありがとうございます。
    %p お買い上げ金額は合計　#{@total}　円となります。
    %p 決済方法は「代金引換」となっておりますので、商品のご到着までに現金のご用意をお願いいたします。
    %p 商品の不備、配送トラブル、その他ご質問などございましたら、お気軽にご返信ください。
    %p 今後ともよろしくお願いいたします。